# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="postgresql://postgres:secret1234%21@localhost:5432/postgres"

# Api
NEXT_PUBLIC_BASE_SERVICE_URL="http://localhost:3000/"
